{% extends 'base.html.twig' %}

{% block title %}Edit Objet{% endblock %}

{% block body %}
<div id="bodyEditObjet" >
    <h1>Edit Objet</h1>

    <div class="containerFormNewObjet">
        {{ include('objet/_form.html.twig', {'button_label': 'Update'}) }}
        <div id="btnDelete">{{ include('objet/_delete_form.html.twig') }}</div>
    </div>

    <a class="returnList" href="{{ path('objet_index') }}"><div class="fleche">←</div></a>


</div>
{% endblock %}

{% block style %}
    <style>
        #bodyEditObjet{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            height: 430px;
            margin: 40px auto auto auto;
            border-radius: 10px;
            box-shadow: 0px 0px 10px black;
        }
        .containerFormNewObjet{
            width: 40%;
        }
        .returnList{
            margin-right: auto;
            margin-left: 15px;
            margin-bottom: 5px;
            text-decoration: none;
        }
        .fleche{
            font-size: 35px;
        }
        .fleche:hover{
            zoom: 1.1;
        }
        #btnDelete{
            float: right;
            margin-top: -21px;
        }
        button:hover{
            cursor: pointer;
        }
    </style>
{% endblock %}