<!DOCTYPE html>
<html id="html">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://media-exp1.licdn.com/dms/image/C5603AQGfLiZupUFKCg/profile-displayphoto-shrink_400_400/0/1591948837158?e=1642032000&v=beta&t=3OpzEtzdofASvCedWPyqP9lbHT7eE75K0vdzEk_fOPA">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <!--{% block popUp %}{% endblock %}-->
    <div id="menuBar">
        <a class="menu accueil" href="/">Accueil</a>
        <a class="menu objets" href="/objet/">Objets</a>
        <a class="menu users" href="/users/">Utilisateurs</a>
    </div>
    <br>
        {% block body %}{% endblock %}
    </body>
</html>

<style>
    .menu{
        color: #E6E7E4;
        text-decoration: none;
    }

    .menu.accueil:hover{
        color: #c1c1ff;
    }

    .menu.objets:hover{
        color: #c1c1ff;
    }

    .menu.users:hover{
        color: #c1c1ff;
    }

    #menuBar{
        display: flex;
        height: 1%;
        padding-bottom: 5px;
        padding-top: 5px;
        justify-content: space-around;
        background-color: #435B7B;
        border: solid 3px;
    }
</style>

{% block style %}{% endblock %}

<script>
    {% block script %}{% endblock %}
</script>
